<app-headernew></app-headernew>

<div class="adminmainwarpper audiencelistwrapper topsearchlistwapper topsearchlistwappernew agencylistwrapper">
  <div class="bodytopsearchlistwrapper">
    <div class="bodytopactiondiv">
      <div class="formblock tosearchlist">
        <div class="form-grounewp">
          <div class="txtfield">
            <!--<input type="text" [(ngModel)]="filterval1" (keyup)="searchbyval()">-->
            <label>Search</label>
            <input type="text" #listFilter (keyup)="0">
          </div>
          <div class="txtfield">
            <a [routerLink]="['/agencyadd']" class="adadminlink addhelpdesk">Add Agency</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid bodymaindiv">
    <div id="no-more-tables">
      <table class="col-md-12 table-bordered table-striped table-condensed cf" *ngIf="datalist?.length>0">
        <thead class="cf">
        <tr>
          <th class="numeric text-center">#</th>
          <th class="numeric text-center">Name</th>
          <th class="numeric text-center">Email id</th>
          <th class="numeric text-center">Manage Employee</th>
          <th class="numeric text-center">Manage User</th>
          <th class="numeric text-center">Member Since</th>
          <th class="numeric text-center">Last Login Time</th>

          <th class="numeric text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of datalist|  usersearch:listFilter.value | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index">
          <td data-title="#" class=" text-center">{{i+1}}</td>
          <td  data-title="Name" class=" text-center" >{{item.firstname}} {{item.lastname}}</td>
          <td  data-title="Email id" class=" text-center" >{{item.email}} </td>
          <td data-title="Manage Employee">No Of Employees: {{shownumber(item.Userdetails,'helpdesk')}}<br/>
            <button class="actionbtn_btnblack" (click)="openuseremployeemodal(item,'helpdesk')">Manage employees</button>
          </td>
          <td data-title="Manage User">No Of User:{{shownumber(item.Userdetails,'user')}}<br/>
            <button class="actionbtn_btnblack" (click)="openuseremployeemodal(item,'user')">Manage users</button>
          </td>
          <td data-title="Member Since" class=" text-center"> {{_commonservices.showdate(item.added_on)}}</td>
          <td data-title="Last Login Time" class=" text-center"> {{_commonservices.showdate(item.logintime)}}</td>
          <td  data-title="Action" class=" text-center">
            <div class="actionbtnlists">
              <a class="actionbtn_btnpurple" [routerLink]="['/agencyedit',item._id]">Edit</a>
              <a class="actionbtn_btnpink" href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="delConfirm(item._id)">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="datalist?.length==0" class="norecord">
        <h4>No Records Available</h4>
      </div>
      <div class="pagination_wrapper" *ngIf="datalist?.length>10">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<app-footernew></app-footernew>

<div *ngIf="isModalShown" class="modal fade commonclsmodal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <div class="commonlogodiv">
          <img src="../../assets/images/geoaiadmin_logo_new.png">
        </div>
        <h4 class="modal-title pull-left">Confirm delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this Agency?</p>
        <!--        Click <b>&times;</b> to close modal.-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onHidden()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agencydel()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="is_user_employee_Modal" class="modal fade useremployeemodal commonclsmodal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="commonlogodiv">
          <img src="../../assets/images/geoaiadmin_logo_new.png">
        </div>
        <h4 class="modal-title pull-left" >Manage {{typeis}}</h4>
        <h4 class="modal-title pull-left" ></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix"></div>
        <div *ngIf="typeis=='Users'">
          <mwl-text-input-autocomplete-container>
            <input type="text"
                   placeholder="Type @ to search..."
                   class="form-control"
                   rows="5"
                   [(ngModel)]="formControluserValue"
                   mwlTextInputAutocomplete
                   [findChoices]="findChoices"
                   [getChoiceLabel]="getChoiceLabel"
            >
          </mwl-text-input-autocomplete-container>
          <div class="selectedcitycls" *ngIf="getlengthfval()>0">
            <h4 class="headingusers">Selected {{typeis}}</h4>
            <div class="adddivp">
              <div *ngFor="let item of getuseravl()"  class="showcitiesclass selectedusers" >{{item}}<span (click)="removeuser(item)"></span></div>
            </div>
            <button (click)="manageuser('user')">Add {{typeis}}</button>

          </div>
        </div>
        <div *ngIf="typeis=='Employees'">
          <mwl-text-input-autocomplete-container>
            <input type="text"
                   placeholder="Type @ to search..."
                   class="form-control"
                   rows="5"
                   [(ngModel)]="formControluserValue"
                   mwlTextInputAutocomplete
                   [findChoices]="findChoices1"
                   [getChoiceLabel]="getChoiceLabel1"
            >
          </mwl-text-input-autocomplete-container>
          <div class="selectedcitycls" *ngIf="getlengthfval()>0">
            <h4 class="headingusers">Selected {{typeis}}</h4>
            <div class="adddivp">
              <div *ngFor="let item of getuseravl()"  class="showcitiesclass selectedusers" >{{item}}<span (click)="removeuser(item)"></span></div>
            </div>
            <button (click)="manageuser('helpdesk')">Add {{typeis}}</button>
          </div>
        </div>
        <!--  <div class="modal_textdiv" *ngFor="let item of get_users_employees_has_this_agencyid ; let i=index">
            <strong>Name:</strong> {{item.firstname}} {{item.lastname}}
            <strong> Emailid:</strong> {{item.email}}
            <strong>Company Name:</strong> {{item.companyname}}
            <strong>Company Website:</strong> {{item.companywebsite}}
            <strong>City:</strong> {{item.city}}
            <strong>Country:</strong> {{item.country}}
          </div>-->
        <table class="col-md-12 table-bordered table-striped table-condensed cf" *ngIf=" get_users_employees_has_this_agencyid!=null && get_users_employees_has_this_agencyid.length>0">
          <thead class="cf">
          <tr>
            <th class="numeric text-center">#</th>
            <th class="numeric text-center">Name</th>
            <th class="numeric text-center">Email id</th>
            <th class="numeric text-center" *ngIf="typeis=='Users'">Company Name</th>
            <th class="numeric text-center" *ngIf="typeis=='Users'">Company Website</th>
            <th class="numeric text-center" *ngIf="typeis=='Users'">City</th>
            <th class="numeric text-center" *ngIf="typeis=='Users'">Country</th>
            <th class="numeric text-center">Added On</th>
            <th class="numeric text-center">Last Login Time</th>
            <th class="numeric text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of get_users_employees_has_this_agencyid ; let i=index">
            <td data-title="#" class=" text-center">{{i+1}}</td>
            <td  data-title="Name" class=" text-center" >{{item.firstname}} {{item.lastname}}</td>
            <td  data-title="Email id" class=" text-center" >{{item.email}} </td>
            <td  data-title="Company Name" class=" text-center" *ngIf="typeis=='Users'">{{item.companyname}} </td>
            <td  data-title="Company Website" class=" text-center" *ngIf="typeis=='Users'">{{item.companywebsite}} </td>
            <td  data-title="City" class=" text-center" *ngIf="typeis=='Users'">{{item.city}} </td>
            <td  data-title="Country" class=" text-center" *ngIf="typeis=='Users'">{{item.country}} </td>
            <td  data-title="Added On" class=" text-center" >{{_commonservices.showdate(item.added_on)}} </td>
            <td  data-title="Last Login Time" class=" text-center" >{{_commonservices.showdate(item.logintime)}} </td>
            <td  data-title="Action" class="text-center" ><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" (click)="remove_agencyid_from_this_user(item._id)" class="actionbtn_btnpink">Remove</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

