<app-headernew></app-headernew>
<div class="adminmainwarpper">
  <div class="bodytopsearchlistwrapper">
    <div class="bodytopactiondiv">
   <!--   .formblock.topsearchlist .form-grounewp:nth-child(2){width:145px!important;float:left;padding-right:10px!important;}-->
      <div class="formblock tosearchlist">
        <div class="form-grounewp">
          <div class="col-xs-12 txtfield">
            <select [(ngModel)]="filterval2" (change)="searchbyval()" >
              <option value="" selected>Search by User Type</option>
              <option value="helpdesk" >Help Desk</option>
              <option value="user">User</option>
            </select>
          </div>
          <div class="col-xs-12 txtfield hide">
            <input type="text" placeholder="Search By Emailid" [(ngModel)]="filterval" #listFilter (keyup)="0">
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="bodytopactiondiv">
      <div class="formblock topsearchlist">
        <div class="form-grounewp">
          <div class="col-xs-12 txtfield ">
            <input type="text" placeholder="Search..." [(ngModel)]="filterval1" (keyup)="searchbyval()">
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid bodymaindiv">
    <div id="no-more-tables">
      <table class="col-md-12 table-bordered table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th class="numeric text-center">#</th>
          <th class="numeric text-center">Name</th>
          <th class="numeric text-center">Email id</th>
          <th class="numeric text-center">Company Name</th>
          <th class="numeric text-center">Company Website</th>
          <th class="numeric text-center">No. of Login</th>
          <th class="numeric text-center">Last login time</th>
          <th class="numeric text-center">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of datalist| usersearch:listFilter.value | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index">
          <td data-title="campaign name" class=" text-center">{{i+1}}</td>
          <td  data-title="campaign name" class=" text-center" >{{item.firstname}} {{item.lastname}}</td>
          <td  data-title="campaign name" class=" text-center" >{{item.email}} </td>
          <td  data-title="campaign name" class=" text-center" >{{item.companyname}}</td>
          <td  data-title="campaign name" class=" text-center" >{{item.companywebsite}}</td>
          <td  data-title="campaign name" class=" text-center" >{{item.nooflogin}}</td>
          <td  data-title="campaign name" class=" text-center" >{{showdate(item.logintime)}}</td>
          <td  data-title="campaign name" class=" text-center" >
            <!--<div *ngIf="item.status==null" class="buttonblock">
              &lt;!&ndash;<button class="btnblue" (click)="statuschange(item._id,1)">Active</button>&ndash;&gt;
              <button class="btnblue" (click)="statuspopup(item._id,0)">Make it inactive</button>
            </div>-->
              <div *ngIf="item.status==1">
                <b>Active</b>
                <p (click)="statuspopup(item,0)" class="textcolor">Change Status</p>
              </div>
              <div *ngIf="item.status==0" >
                <b>Inactive</b>
                <p (click)="statuspopup(item,1)" class="textcolor">Change Status</p>
              </div>
            <p (click)="shownotes(item.email)" class="textcolor">Notes</p>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination_wrapper" *ngIf="datalist?.length>10">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<app-footernew></app-footernew>


<div *ngIf="isModalShown" class="modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="typeis==0">Make it Inactive</h4>
        <h4 class="modal-title pull-left" *ngIf="typeis==1">Make it Active</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="formblock">Add Note</label>
        <textarea class="formblock form-control" [(ngModel)]="note" rows="3"></textarea>
        <p  class="wpcf7-not-valid-tip" *ngIf="noteblankerror">{{noteblankerror}}</p>
        <p *ngIf="typeis==0" style="font-size: 16px" class="text-center">Are you sure to make this user inactive?</p>
        <p *ngIf="typeis==1" style="font-size: 16px" class="text-center">Are you sure to make this user active?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onHidden()">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="statuschange()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalnoteShown" class="modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Note List</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid bodymaindiv">
          <div id="no-more-tables1">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
              <thead class="cf">
              <tr>
                <th class="numeric text-center">#</th>
               <!-- <th class="numeric text-center">Name</th>-->
                <th class="numeric text-center">Note</th>
                <th class="numeric text-center">Added By</th>
                <th class="numeric text-center">Added on</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of notedetails | paginate: { itemsPerPage: 5, currentPage: p1 }; let i=index">
                <td data-title="campaign name" class=" text-center">{{i+1}}</td>
               <!-- <td  data-title="campaign name" class=" text-center" >{{item.Namedetails[0].firstname}} {{item.Namedetails[0].lastname}}</td>-->
                <td  data-title="campaign name" class=" text-center" >{{item.note}} </td>
                <td  data-title="campaign name" class=" text-center" >{{item.Namedetails[0].firstname}} {{item.Namedetails[0].lastname}}</td>
                <td  data-title="campaign name" class=" text-center" >{{showdate(item.added_time)}}</td>
              </tr>
              </tbody>
            </table>
            <div class="pagination_wrapper" *ngIf="notedetails?.length>5">
              <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>