
@media(max-width:1800px){
    .newdivwrapper{width: 96%;}
    .adminmainwarpper{width: 96%;}
    .adminmainwarppernew{width: 96% !important;}
    .bodytopactiondlist span {font-size: 13px;}
    .bodytopactiondlist ul li a {font-size: 14px;}
    .iconpending, .iconinactive, .iconactive, .iconshowall {font-size: 14px; padding: 8px 14px;}
    .bodytopactiondlist input[type="checkbox"]{margin-top: 1px;}
    .newlistleftdiv {width: 45%;}
}

@media(max-width:1750px) {
    .newlistleftdiv {
        width: 44%;
    }
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 10px;}
}


@media(max-width:1720px) {
    /*.onelineblock .btnblack {padding: 12px 14px 9px; font-size: 14px;}*/
    .newlistleftdiv {width: 44%;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 8px;}
}


@media(max-width:1700px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px;}
    .newlistleftdiv {
        width: 42%;
    }
    .headerdivnew .headerbtndiv1 .btnblue.logoutcls {padding: 9px 10px 7px 10px;}
}

@media(max-width:1666px) {
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {
        width: 330px;
    }
    .headerdivnew .logowrapper {
        width: 350px;
    }
    .headerdivnew .logowrapper img {
        margin-top: 0px;
    }
    .newlistleftdiv {width: 42%;}
    .deactivated {width: 10px;}
    .activated {width: 10px;}
    /*.onelineblock .btnblack {font-size: 12px; padding: 12px 14px 9px;}*/
    /* .onelineblock .rightbtndiv .btnblue {font-size: 12px;}*/
    .searchbannerlist .searchbannertable {width: 93%;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 16px;width: 90%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 93%;}
}

@media(max-width:1640px) {
    .newlistleftdiv {
        width: 48%;
    }
    .onelineblock .btnblack {
        padding: 12px 14px 9px;
        font-size: 13px;
    }
    .onelineblock .rightbtndiv .btnblue {
        font-size: 13px;
        padding: 9px 16px !important;
    }
}

@media(max-width:1610px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 15px; width: 90%;}
    .newlistleftdiv {
        width: 47%;
    }
}


@media(max-width:1600px) {
    .newlistleftdiv {width: 46%;}
    /*.onelineblock .btnblack {font-size: 12px;}
    .onelineblock .rightbtndiv .btnblue {font-size: 12px; padding: 9px 14px !important;}*/
    .iconpending, .iconinactive, .iconactive, .iconshowall {padding: 8px 8px;}
    .bodytopactiondlist span {font-size: 12px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {width: 89%; margin-right: 11px;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 93%;}
}

@media(max-width:1560px) {
    .newlistleftdiv {
        width: 45%;
    }
}

@media(max-width:1540px) {
    .headerdivnew .logowrapper {
        width: 300px;
    }
    .bodytopactiondlist ul li a {font-size: 13px;}
    /* .onelineblock .btnblack {font-size: 12px; padding: 12px 12px 9px;}*/
    .onelineblock .rightbtndiv label {font-size: 13px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {width: 89%; margin-right: 11px;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 92%; padding-right: 0px;}
}

@media(max-width:1510px) {
    .newlistleftdiv {
        width: 43%;
    }

}

@media(max-width:1500px) {
    .headerdivnew .headerbtndiv1 .btnblue {
        font-size: 14px!important;
    }
    .headerdivnew .headerbtndiv1 .btnblue.logoutcls {
      padding: 4px 10px 3px 10px;
    }
    /* .onelineblock .btnblack {font-size: 12px; padding: 12px 9px 9px;}
     .onelineblock .rightbtndiv .btnblue {font-size: 12px; padding: 9px 9px !important;}*/
    .onelineblock .bodytopactiondlist ul li {padding-right: 2px;}
}

@media(max-width:1460px) {
    .newlistleftdiv {width: 42%;}
    /*.onelineblock .rightbtndiv select {padding: 6px 2px;}*/
    .iconpending, .iconinactive, .iconactive, .iconshowall {padding: 8px 6px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {width: 89%; margin-right: 10px;}
}

@media(max-width:1420px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {width: 89%; margin-right: 9px;}
}


@media(max-width:1410px) {
    .newlistleftdiv {width: 41%;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 5px;}
}

@media(max-width:1400px) {
    /*.onelineblock .btnblack {font-size: 12px; padding: 12px 6px 9px;}
    .onelineblock .rightbtndiv .btnblue {padding: 9px 6px !important;}*/
    .newlistleftdiv {
        width: 40%;
    }
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px;}
}

@media(max-width:1380px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {
        margin-right: 5px;
    }
}
@media(max-width:1370px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {
        margin-right: 5px;
    }
    #no-more-tables .table-bordered>thead>tr>th {
        padding: 12px 4px;
    }
    .onelineblock .rightbtndiv label {
        font-size: 12px;
    }
    .headerdivnew .headerbtndiv1 .btnblue {
        margin: 0px 12px;
        font-size: 12px!important;
    }

    .bodytopactiondlist ul li a {font-size: 13px;}
    /*.onelineblock .rightbtndiv label {font-size: 11px;}*/
    .onelineblock .btnblack {padding: 12px 10px 9px; font-size: 12px;}
    .onelineblock .rightbtndiv .btnblue {font-size: 12px; padding: 9px 12px !important;}
}

@media(max-width:1366px) {
    .searchbannerlist .searchbannertable {width: 92%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 92%; padding-right:0px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 4px;}
}

@media(max-width:1340px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 4px; width: 88%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 92%; padding-right: 2px;}
}

@media(max-width:1310px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 10px; width: 88%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 91%; padding-right: 0px;}
}

@media(max-width:1300px){
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 9px;width: 87%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 91%; padding-right: 0px;}
    .searchbannerlist .searchbannertable {width: 91%;}
    .newlistleftdiv {width: 42%;}
    .datefieldblock {width: 130px !important;}
    .onelineblock .rightbtndiv select {padding: 6px 6px;}
    .onelineblock .rightbtndiv .btnblue {font-size: 12px; padding: 9px 9px !important;}
    .dashboard_left{width:21%;}
    .dashboard_right{width:100%;}
    .dbblog{width:23.5%;margin:0.5%;float:left;border-radius:5px;}
    .dbblog .fa{font-size:40px;color:#fff;}
}

@media(max-width:1280px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 5px;width: 87%;}
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {width: 270px;}
    .bodytopactiondlist span {font-size: 11px;}
    .bodytopactiondlist ul li a {font-size: 12px;}
    .headerdivnew .logowrapper { width: 264px;}
    .datefieldblock {width: 120px !important;}
/*    .openbuttoncls {top: 8px; right: -4px; width: 19px; height: 19px;}*/
    .onelineblock .btnblack {padding: 12px 6px 9px; font-size: 12px;}
    .onelineblock .rightbtndiv label {font-size: 12px;}
    .onelineblock .rightbtndiv .btnblue {font-size: 12px; padding: 9px 6px !important;}
}

@media(max-width:1240px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 5px;}
}

@media(max-width:1210px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 86%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 0px; width: 90%;}
}

@media(max-width:1199px){
    .searchbannerlist {padding: 0px !important;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 11px; width: 86%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 89%; padding-right: 0px;}
    .searchbannerlist .searchbannertable {width: 90%;}
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {
        width: 200px;
    }
    .statusicon {
        width:auto;
        justify-content: flex-end;
    }
    /* .audiencelistwrapper .table-striped > tbody > tr:nth-of-type(even) {
         border-bottom: 7px solid #f2f8f9 !important;
     }
     .audiencelistwrapper .table-striped > tbody > tr:nth-of-type(odd) {
         border-bottom: 7px solid #f2f8f9 !important;
     }*/
    .bodymaindiv td:nth-child(8) {
        width: 49%!important;
    }
    .newlistleftdiv {
        margin-bottom: 5px;
    }
    .headerdivnew .logowrapper {
        width: 264px;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: inherit !important;
        top: 0;
        left: 0;
        transform: inherit;
    }
    .dashboard1form .helpdeskadd_form .form-group {
        width: 48%;
    }
    #no-more-tables .table-bordered>tbody>tr>td {
        box-shadow: inset 0 -1px 0 #fff;
    }
    #no-more-tables .table-bordered>tbody>tr>td:last-child {
        box-shadow: inset 0 -5px 0 #fff;
    }
    .headerdivnew .headerlogodiv {
        height: auto;
    }
    .headerdivnew .headerbtndiv1 {
        position: inherit!important;
        top: 0;
        right: 0px;
        transform: inherit;
        margin-top: 0px;
        text-align: center;
    }
    .newlistleftdiv {width: 100%; /*justify-content: center;*/}
    .onelineblock .bodytopactiondlist ul {
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .dashboard_left{width:100%;float:none;min-height:inherit;text-align:center;height:auto;}
    .dashboard_left h2{text-align:center;}
    .dashboard_wrappertop img{width:250px;display:block;margin:0 auto;}
    .dashboard_right{width:100%;margin:0 auto;float:none;min-height:inherit;border:none;padding:10px 0;}
    .tablediv{overflow-x:auto;width:100%;margin:0 auto;}
    .dbblog{width:47%;margin:1%;float:left;border-radius:5px;}
    .dashboard1form {
        width: 90%;

    }
    .actionbtnlists {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
    }
}

@media(max-width:1170px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 9px;}
}

@media(max-width:1120px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 85%;}
}


@media(max-width:1100px) {
    .searchbannerlist .searchbannertable {width: 89%;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 8px; width: 84%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 88%; padding-right: 1px;}
}

@media(max-width:1040px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 8px; width: 83%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 87%; padding-right: 1px;}
}

@media(max-width:991px){
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 83%;}
    .searchbannerlist .searchbannertable {width: 88%;}
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {width: 170px;}
    .topsearchlistwapper .tosearchlist .txtfield label {font-size: 14px;}
    .login_bg{height:auto;padding:100px 0;}
    .login_wrapper{width:80%;padding-left:5%;padding-right:5%;}
    .login_formbox{width:90%;margin:0 auto;}
    .login_formbox input[type="text"]{width:90%;}
    .dashboard1form{width:94%;}
    .fpassword{float:none;margin:10px auto;}
    .login_formbox .loginbtn{float:none;margin:0 auto;}
}

@media(max-width:960px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 87%; padding-right: 4px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 82%;}
}

@media(max-width:915px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 86%; padding-right: 0px;}
}

@media(max-width:900px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {width: 86%; padding-right: 3px;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 81%;}
}

@media(max-width:870px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 0px; width: 85%;}
}

@media(max-width:855px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 80%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 3px; width: 85%;}
}

@media(max-width:820px) {
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 79%;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 3px; width: 84%;}
}

@media(max-width:800px) {
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {width: 150px;}
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 1px; width: 83%;}

}

@media(max-width:780px) {
    .searchbannerlist .searchbannertable.searchbannertablenew .col-searchbanner {padding-right: 3px; width: 83%;}
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 6px; width: 78%;}
}

@media(max-width:767px){
    .newdivwrapper .navbar-header{display:none;}
    .newdivwrapper .collapse {display: inline-block;}
    .newdivwrapper .nav>li {display: inline-block;}
    .newdivwrapper .menudiv .navbar li a {padding: 0px 10px; font-size: 14px;}
    .bannerlistblocksingle:nth-of-type(even) {overflow: hidden;}
    .bannerlistblocksingle:nth-of-type(odd) {overflow: hidden;}

    .topsearchlistwapper .tosearchlist {width: 100%;}
    .topsearchlistwapper .bodytopsearchlistwrapper .bodytopactiondiv .form-grounewp {width: 100%;}
    .topsearchlistwapper .tosearchlist .txtfield {margin-right: 0; width: 100% !important; margin-bottom: 10px;}
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {width: 70%;}
    .topsearchlistwappernew .bodytopsearchlistwrapper .bodytopactiondiv .tosearchlist .form-grounewp {width: 100%; display: inherit; }
    .rightbtndiv {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .bodytopactiondlist1 {
        display: inline-block;
        overflow-x: scroll;
        width: 100%;
        margin-top: 10px !important;
    }

    .onelineblock .rightbtndiv .btnblue {
        margin-top: 5px !important;
    }

    .headerdivnew .menudiv .navbar .navbar-collapse {
        float: none;
        text-align: center;
    }
    .headerdivnew .menublock .menudiv .nav.navbar-nav {
        text-align: center;
    }
    .adminmainwarppernew {
        width: 92% !important;
    }
    .dashboard1form .helpdeskadd_form .form-group {
        width: 100%;
    }
    .dashboard1form .helpdeskadd_form {
        display: inline-block;
        width: 100%;
        flex-wrap: wrap;
        align-content: space-between;
        /* margin-right: 0px; */
    }

    .dashboard1form .helpdeskadd_form .form-group {
        width: 99%;
    }
    .dashboard1form .helpdeskadd_form .form-group input {
        width: 100%;
    }

}
@media(max-width:900px) {
    .searchbannerlist .searchbannertable {width: 86%;}
    .searchbannerlist .col-searchbanner:nth-child(2) {width: 31%;}
    .searchbannerlist .col-searchbanner:first-child {width: 31%;}
    .searchbannerlist .col-searchbanner:last-child {width: 38%;}
}


@media(max-width:800px) {
    .searchbannerlist .searchbannertable {width: 85%;}
}

@media(max-width:767px) {
    .searchbannerlist .searchbannertable {width: 100%;}
    .searchbannerlist .col-searchbanner:first-child {width: 100%;padding-left: 0px;}
    .searchbannerlist .col-searchbanner:nth-child(2) {width: 100%;}
    .searchbannerlist .col-searchbanner:last-child {width: 100%;padding-right: 0px;}
    .searchbannerlist .col-searchbanner {padding: 6px 0;}
    /*.searchbannerlist .btnbluepurple{margin-top: 10px;}*/
    .searchbannerlist .searchbannertable.searchbannertablenew {margin-right: 0; width: 100%;}
}

@media(max-width:540px){
  .bodytopactiondlist span {
    font-size: 12px;
  }
    .topsearchlistwapper .tosearchlist .txtfield label {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;.onelineblock .datefieldcontainer .form-control
    }
    .audiencelistwrapper .formblock.tosearchlist select, .audiencelistwrapper .formblock.tosearchlist input[type="text"] {
        width: 100%;
    }
    .topsearchlistwapper .tosearchlist .txtfield {
        display: inline-block !important;
    }
    .topsearchlistwapper .tosearchlist .txtfield.hide {
        display: none !important;
    }
    .bodymaindiv td:nth-child(8) {
        width: 28%!important;
    }
    .dbblog{width:90%;margin:0 auto;float:none;border-radius:5px;margin-bottom:15px;}

    .bodytopactiondlist input[type="checkbox"] {
        margin-top: 6px !important;
    }
    .dashboard1form {
      width: 100%;
    }
}
@media(max-width:380px){

  .bannerlistblocksingle h2 {
    font-size: 16px;
  }
    .newdivwrapper .menudiv .navbar li{margin-top:5px;}
    .newdivwrapper .menudiv .navbar li:last-child{margin-top:5px !important;}

    .commonlogodiv {width: 100%;}
    .adminserchdiv{display:block;float:none;padding-top:0;margin:0 auto;width:240px;}
    .adadminlink{float:none;display:block;margin:0 auto;margin-top:10px;width:90px;text-align:center;padding-right:2px;}
}
.tdvideo{max-width:375px !important;}
.childimgwraqpper{position:relative;}
.childimg{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);z-index:44;background:#fff;border:1px solid rgba(0, 0, 0, .5);padding:3px;border-radius:5px;}
