<app-headernew></app-headernew>
<div class="adminmainwarpper searchbannerlist">
  <div class="col-searchbanner">
    <label>Search by User:</label>
    <!--<mwl-text-input-autocomplete-container>
      <input type="text"
             placeholder="Type @ to search..."
             class="form-control"
             rows="5"
             [(ngModel)]="formControlValue"
             mwlTextInputAutocomplete
             [findChoices]="findChoices"
             [getChoiceLabel]="getChoiceLabel">
    </mwl-text-input-autocomplete-container>-->

    <input type="text" class="form-control"  name="searchuser" value="" size="40" placeholder="Add name or email" [(ngModel)]="searchval" (keyup)="addusers($event)">
    <div *ngIf="showusersearch==1" class="as-editprofile-main-container">
      <div class="row" *ngFor="let item1 of filterlist">
        <div class="as-editprofile-user-title"   (click)="selecteduser(item1)">
          <span>{{item1.firstname}} {{item1.lastname}}</span>
        </div>
      </div>
    </div>
    <div class="selectedcitycls" *ngIf="selecteduserlist?.length>0">
      <h4 class="headingusers">Selected Users</h4>
      <div class="adddivp">
        <div *ngFor="let item of selecteduserlist" class="showcitiesclass selectedusers" >{{item.firstname}} {{item.lastname}} ({{item.email}})<span (click)="removeuser(item)"></span></div>

      </div>
    </div>
  </div>
</div>
<footer class="footerdiv">
  <div class="footerlogodiv">
    <div class="logowrapper">
      <a [routerLink]="['/']"><img src="../../assets/images/geoaiadmin_logo.png"></a>
    </div>
    <div class="footercopyright text-center">
      <p>Copyright 2017 GeoAI Technologies, LLC. All Rights Reserved | <a href="javascript:void(0)" target="_blank" data-toggle="modal" data-target="#comingsoon">T & C</a></p>
    </div>
  </div>
</footer>