
<app-headernew></app-headernew>
<div class="bodymaindiv">
    <div class="adminmainwarpper addcampaignwarpper rolesettingwarpper">
        <div class="formblock" style="display: inline;">
            <form role="form" class="form form-inline" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
                <div class="form-group">
                    <div class="divinner">
                        <label class="col-xs-12 lblform">Add Role Mark Up <span class="fontpercentage">( % )</span></label>
                        <div class="txtfield">
                            <input type="text" class="form-control" [formControl]="dataForm.controls['role_mark_up']">
                        </div>
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['role_mark_up'].touched && !dataForm.controls['role_mark_up'].valid">This is Required !</span>
                    <span class="has-error" *ngIf ="role_mark_up_error">{{role_mark_up_error}}</span>
                </div>

                <div class="form-group">
                    <div class="divinner">
                        <label class="col-xs-12 lblform">Add Smatoo Mark Up <span class="fontpercentage">( % )</span></label>
                        <div class="txtfield">
                            <input type="text" class="form-control" [formControl]="dataForm.controls['smatoo_mark_up']">
                        </div>
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['smatoo_mark_up'].touched && !dataForm.controls['smatoo_mark_up'].valid">This is Required !</span>
                    <span class="has-error" *ngIf ="smatoo_mark_up_error">{{smatoo_mark_up_error}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="form-group btnformdivcls">
                    <button type="submit" class="btnblue">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footernew></app-footernew>

