<app-headernew></app-headernew>
<!------end Header SECTION--->

<!------Body SECTION--->
<div class="bodymaindiv">
    <div class="adminmainwarpper addcampaignwarpper">
        <div class="formblock">
            <form role="form" class="form form-inline" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">

                <div class="form-group">
                    <label for="campaignname" class="col-xs-12 lblform">Campaign Name</label>
                    <div class="txtfield">
                        <input type="text" class="form-control" id="campaignname" placeholder="" [formControl]="dataForm.controls['campaignname']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['campaignname'].touched && !dataForm.controls['campaignname'].valid">Campaign Name is Required !</span>
                </div>
                <div class="form-group">
                    <label for="totalcampaignspend" class="col-xs-12 lblform">Total Budget <span>( $ )</span></label>
                    <div class="txtfield">
                        <!--<label>$</label>--><input type="text" class="form-control" id="totalcampaignspend" placeholder="" [formControl]="dataForm.controls['totalbudget']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['totalbudget'].touched && !dataForm.controls['totalbudget'].valid">This field is Required !</span>
                </div>

                <div class="form-group hide">
                    <label for="totalcampaignspend" class="col-xs-12 lblform">CPA <span>( $ )</span></label>
                    <div class="txtfield">
                       <!-- <label>$</label>--><input type="text" class="form-control" id="cpa" placeholder="" [formControl]="dataForm.controls['cpa']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['cpa'].touched && !dataForm.controls['cpa'].valid">Cpa is Required !</span>
                </div>

                <div class="form-group hide">
                    <label for="totalcampaignspend" class="col-xs-12 lblform">EPC <span>( $ )</span></label>
                    <div class="txtfield">
                        <!--<label>$</label>--><input type="text" class="form-control" id="epc" placeholder="" [formControl]="dataForm.controls['epc']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['epc'].touched && !dataForm.controls['epc'].valid">Epc is Required !</span>
                </div>

                <div class="form-group">
                    <label for="dailybudget" class="col-xs-12 lblform">Daily Budget <span>( $ )</span></label>
                    <div class="txtfield">
                        <!--<label>$</label>--><input type="text" class="form-control" id="dailybudget" placeholder="" [formControl]="dataForm.controls['dailybudget']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['dailybudget'].touched && !dataForm.controls['dailybudget'].valid">Daily Budget is Required !</span>
                </div>


                <!--  <div class="form-group">
                    <label class="col-xs-12 lblform">Campaign Type</label>
                    <div class="col-xs-12 txtfield">
                      <div class="col-sm-3 col-xs-6 txtfield">
                        <select class="classic" [formControl]="dataForm.controls['campaigntype']">
                          <option value="cpm">CPM</option>
                          <option value="cpc">CPC</option>
                        </select>
                      </div>
                      <div class="col-sm-3 col-xs-6 txtfield">
                        <select class="classic">
                          <option>EPC</option>
                          <option>EPC</option>
                        </select>
                      </div>
                      <div class="col-sm-3 col-xs-6 txtfield">
                        <select class="classic">
                          <option>EPCM</option>
                          <option>EPCM</option>
                        </select>
                      </div>
                      <div class="col-sm-3 col-xs-6 txtfield">
                        <select class="classic">
                          <option>CPA</option>
                          <option>CPA</option>
                        </select>
                      </div>
                    </div>
                  </div>-->
                <!-- <div class="form-group">
                   <label for="remainingbudget" class="col-xs-12 lblform">Remaining budget</label>
                   <div class="col-xs-12 txtfield">
                     <input type="text" class="form-control" id="remainingbudget" placeholder="">
                   </div>
                 </div>-->


                <div class="form-group">
                    <label for="startingbid" class="col-xs-12 lblform">Starting Bid <span>( $ )</span></label>
                    <div class="txtfield">
                        <!--<label>$</label>--><input type="text" class="form-control" id="startingbid" placeholder="" [formControl]="dataForm.controls['startingbid']">
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['startingbid'].touched && !dataForm.controls['startingbid'].valid">Starting Bid is Required !</span>
                </div>

                <div class="form-group">
                    <div class="divinner">
                        <label for="conversionvalue" class="col-xs-12 lblform">Conversion Value <span>( $ )</span></label>
                        <div class="txtfield">
                            <!--<label>$</label>--><input type="text" class="form-control" id="conversionvalue" placeholder="" [formControl]="dataForm.controls['conversionvalue']">
                        </div>
                        <div class="txtfield"><span>Based on CPA,CPL or other Matric</span></div>
                    </div>
                    <span class="has-error" *ngIf ="dataForm.controls['conversionvalue'].touched && !dataForm.controls['conversionvalue'].valid">Conversion Value is Required !</span>
                </div>

                <div class="form-group dtrangecls">
                    <label for="startingbid" class="col-xs-12 lblform">Date Range</label>
                    <div class="col-xs-6 col-sm-6 col-lg-6 divinner dtrange">
                        <!-- <div class="col-xs-6 divinner">
                           <div class="radio-inline-wrapper">
                             <label class="radio-inline"><input type="radio" name="optradio">Start</label>
                             <label class="radio-inline"><input type="radio" name="optradio">Now</label>
                           </div>
                         </div>-->
                        <div class="divinner">
                            <div class="datefieldcontainer">
                                <!--    <input class="datefieldcls" type="text" name="selected_date" [formControl]="dataForm.controls['startdate']"/>-->
                                <input type="text"
                                       placeholder="Start Date"
                                       class="form-control"
                                       bsDatepicker
                                       [formControl]="dataForm.controls['startdate']"
                                       [minDate] = "isdate"
                                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                >
                                <span class="openbuttoncls">
                  <button type="button"><img src="../../assets/images/icon-calender.png"></button>
                </span>
                            </div>
                            <span class="has-error" *ngIf ="dataForm.controls['startdate'].touched && !dataForm.controls['startdate'].valid">Start Date is Required !</span>
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 divinner">
                        <!-- <div class="col-xs-6 divinner">
                           <div class="radio-inline-wrapper2">
                             <label class="radio-inline"><input type="radio" name="optradio">End</label>
                             <label class="radio-inline"><input type="radio" name="optradio">None</label>
                           </div>
                         </div>-->
                        <div class="divinner">
                            <div class="datefieldcontainer">
                                <!-- <input class="datefieldcls" type="date" name="selected_date" [formControl]="dataForm.controls['enddate']"/>
                                 <span class="openbuttoncls">
                                     <button type="button"><img src="../../assets/images/icon-calender.png"></button>
                                   </span>-->
                                <input type="text"
                                       placeholder="End Date"
                                       class="form-control"
                                       bsDatepicker
                                       [formControl]="dataForm.controls['enddate']"
                                       [minDate] = "isdate"
                                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                >
                                <span class="openbuttoncls">
                  <button type="button"><img src="../../assets/images/icon-calender.png"></button>
                </span>
                            </div>
                            <span class="has-error" *ngIf ="dataForm.controls['enddate'].touched && !dataForm.controls['enddate'].valid">End Date is Required !</span>
                        </div>
                    </div>

                    <span class="has-error" *ngIf ="daterangeerror">{{daterangeerror}}</span>
                </div>

                <div class="form-group">
                    <label for="frequencycap" class="col-xs-12 lblform">Frequency Cap <span>( $ )</span></label>
                    <div class="divinner">
                        <div class="txtfield">
                            <!--<label>$</label>--><input type="text" class="form-control" id="frequencycap" placeholder="" [formControl]="dataForm.controls['fcap']">
                        </div>
                        <div class="txtfield"><span>per instance</span></div>
                        <span class="has-error" *ngIf ="dataForm.controls['fcap'].touched && !dataForm.controls['fcap'].valid">Frequency Cap is Required !</span>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group btnformdivcls">
                    <button type="submit" class="btnblue">Continue</button>
                    <button type="button" class="btnbluedeep" [routerLink]="['/campaignlists']">Cancel</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<app-footernew></app-footernew>

