<div *ngIf="typeis=='audience'">
<div class="container-fluid">
  <div class="audiencewrapperoutertable">
    <div class="row audiencewrapperouterrow" id="audiencecampaignid">
      <div *ngFor="let item of audiencelist; let i=index" class="audiencewrapperouter">
        <div class="audiencewrapper">
          <h2>
            <input type="checkbox" name="audienceradio" value="{{item._id}}" (change)="audienceaddtovar(item._id, audiencecheckboxvalue[i])" [(ngModel)]="audiencecheckboxvalue[i]">
            <span>Audience Name - {{item.audiencename}}</span>
          </h2>
          <div class="audiencedesc">
            <span>Audience Description - {{item.audiencedescription}}</span><br/>
            <span>Audience Result - {{item.searchcount}}</span><br/>
            <span>Audience Added on - {{showdate(item.added_on)}} {{campaignid}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onHidden()">No</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add_audience_to_campaign()" *ngIf="audiencebannertype=='Add'">Save</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add_audience_to_campaign()" *ngIf="audiencebannertype=='Edit'">Update</button>
</div>
</div>




<div *ngIf="typeis=='creative'">
  <div class="container-fluid" id="bannercampaignid">
    <div *ngFor="let item of bannerlist|  orderBy:'added_on':'desc'; let i=index" class="row bannerlistblocksingle" [ngClass]="addtdclass(item.status)">
      <input type="checkbox" name="audienceradio" value="{{item._id}}" (change)="banneraddtovar(item._id, bannercheckboxvalue[i])" [(ngModel)]="bannercheckboxvalue[i]"> <!--[(ngModel)] = "bannerid"-->
      <!--BLOCK 1-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==0">
        <div class="bannermainblock0 newimghiidecls" >
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock0img" *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock0img" *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <a href="javascript:void(0)" class="bannermainblock0btn" *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</a>
          <a href="javascript:void(0)" class="bannermainblock0btn" *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==0">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 1</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 2-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==1">
        <div class="bannermainblock1 newimghiidecls" >
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock1img" *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock1img" *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <a href="javascript:void(0)" class="bannermainblock1btn" *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</a>
          <a href="javascript:void(0)" class="bannermainblock1btn" *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==1">

        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 2</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 3-->

      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==2">
        <div class="bannermainblock2 newimghiidecls" style="background-image: url('../../assets/images/300-50_bg1.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock2img" *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock2img" *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span  class="bannermainblock2txt" *ngIf="item.editablearea_1==null || item.editablearea_1==''">INDUSTRY-BASED<br/>
                        MARKETING</span>
          <span  class="bannermainblock2txt" *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}}</span>
          <a href="javascript:void(0)" class="bannermainblock2btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null || item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==2">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 3</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 4-->

      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==3">
        <div class="bannermainblock3 newimghiidecls">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock3img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock3img"  *ngIf="item.editablearea_3!=null || item.editablearea_3!=''">
          <span class="bannermainblock3txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">DIRECT<br> CONNECTIONS </span>
          <span class="bannermainblock3txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock3btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
          <img src="../../assets/images/300_50_img1.jpg" class="bannermainblock3img2" *ngIf="item.editablearea_4==null || item.editablearea_4==''">
          <img src="../../assets/uploads/{{item.editablearea_4}}" class="bannermainblock3img2" *ngIf="item.editablearea_4!=null && item.editablearea_4!=''">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==3">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 4</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 5-->


      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==4">
        <div class="bannermainblock4 newimghiidecls" style="background-image: url('../../assets/images/300-50_bg7.jpg'); background-size: cover; background-repeat: no-repeat;border: solid 2px #b4e20d;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock4img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock4img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock4txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">DIRECT<br> CONNECTIONS </span>
          <span class="bannermainblock4txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock4btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock4img2" *ngIf="item.editablearea_4==null || item.editablearea_4==''">
          <img src="../../assets/uploads/{{item.editablearea_4}}" class="bannermainblock4img2" *ngIf="item.editablearea_4!=null && item.editablearea_4!=''">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==4">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 5</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 6-->

      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage"  *ngIf="item.banner_type==5">
        <div class="bannermainblock5 newimghiidecls">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock5img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock5img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock5txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">DIRECT<br> CONNECTIONS </span>
          <span class="bannermainblock5txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <span class="bannermainblock5txt2"  *ngIf="item.editablearea_5==null || item.editablearea_1==''">INDUSTRY-BASED</span>
          <span class="bannermainblock5txt2"  *ngIf="item.editablearea_5!=null && item.editablearea_5!=''">{{item.editablearea_5}} </span>
          <a href="javascript:void(0)" class="bannermainblock5btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>

          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock5img2"  *ngIf="item.editablearea_4==null || item.editablearea_4==''">
          <img src="../../assets/uploads/{{item.editablearea_4}}" class="bannermainblock5img2"  *ngIf="item.editablearea_4!=null && item.editablearea_4!=''">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo"  *ngIf="item.banner_type==5">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 6</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 7-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage"  *ngIf="item.banner_type==6">
        <div class="bannermainblock6 newimghiidecls">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock6img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock6img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock6txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">DIRECT  CONNECTIONS </span>
          <span class="bannermainblock6txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock6btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock6img2"  *ngIf="item.editablearea_4==null || item.editablearea_4==''">
          <img src="../../assets/uploads/{{item.editablearea_4}}" class="bannermainblock6img2"  *ngIf="item.editablearea_4!=null && item.editablearea_4!=''">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==6" >

        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 7</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 8-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage"  *ngIf="item.banner_type==7">
        <div class="bannermainblock7 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg1.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock7img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock7img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock7txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">GEO AI<br/>TECHNOLOGIES</span>
          <span class="bannermainblock7txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo"  *ngIf="item.banner_type==7">

        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 8</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 9-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage"   *ngIf="item.banner_type==8">
        <div class="bannermainblock8 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg2.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock8img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock8img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock8txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''">GEO AI<br/>TECHNOLOGIES</span>
          <span class="bannermainblock8txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo"   *ngIf="item.banner_type==8">

        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 9</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 10-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==9">
        <div class="bannermainblock9 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg3.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock9img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock9img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock9txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock9txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==9">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 10</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 11-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==10">
        <div class="bannermainblock10 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg4.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock10img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock10img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock10txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock10txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock10btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==10">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 11</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 12-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==11">
        <div class="bannermainblock11" style="background-image: url('../../assets/images/320-50_bg5.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock11img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock11img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock11txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock11txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock11btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==11">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 12</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>



      <!--BLOCK 13-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==12">
        <div class="bannermainblock12 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg6.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock12img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock12img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock12txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock12txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==12">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 13</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

      <!--BLOCK 14-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==13">
        <div class="bannermainblock13 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg7.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock13img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock13img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock13txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock13txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==13">

        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 14</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 15-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==14">
        <div class="bannermainblock14 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg8.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock14img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock14img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock14txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock14txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==14">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 15</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>


      <!--BLOCK 16-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==15">
        <div class="bannermainblock15 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg9.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock15img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock15img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock15txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock15txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
          <a href="javascript:void(0)" class="bannermainblock15btn"><span *ngIf="item.editablearea_2==null || item.editablearea_2==''">View More</span><span *ngIf="item.editablearea_2!=null && item.editablearea_2!=''">{{item.editablearea_2}}</span></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==15">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 16</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>



      <!--BLOCK 17-->
      <div class="col-md-8 col-sm-8 bannerlists bannerlistsingleimage" *ngIf="item.banner_type==16">
        <div class="bannermainblock16 newimghiidecls" style="background-image: url('../../assets/images/320-50_bg10.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock16img"  *ngIf="item.editablearea_3==null || item.editablearea_3==''">
          <img src="../../assets/uploads/{{item.editablearea_3}}" class="bannermainblock16img"  *ngIf="item.editablearea_3!=null && item.editablearea_3!=''">
          <span class="bannermainblock16txt"  *ngIf="item.editablearea_1==null || item.editablearea_1==''"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <span class="bannermainblock16txt"  *ngIf="item.editablearea_1!=null && item.editablearea_1!=''">{{item.editablearea_1}} </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" *ngIf="item.banner_type==16">
        <h2>
          <span *ngIf="item.banner_title==null || item.banner_title==''">Creative Type - 17</span>
          <span *ngIf="item.banner_title!=null && item.banner_title!=''">{{item.banner_title}}</span>
          <span *ngIf="item.promotion_type=='google_play'">Google Play</span>
          <span *ngIf="item.promotion_type=='apple_store'">Apple Store</span>
          <span *ngIf="item.promotion_type=='web_url'">Web Url</span>
          <span *ngIf="item.click_through_url!=null">{{item.click_through_url}}</span>
        </h2>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onHidden()">No</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add_banner_to_campaign()" *ngIf="audiencebannertype=='Add'">Save</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add_banner_to_campaign()" *ngIf="audiencebannertype=='Edit'">Update</button>
  </div>
</div>