<app-headernew></app-headernew>

<!------Body SECTION--->
<div class="adminmainwarpper dashboardmainwrapper">
  <div class="dashboardwrapper">
    <div class="dashboard_main_content">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 ">
          <h4> Add User</h4>
          <div class="dashboard1form">
            <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)" class="form helpdeskadd_form">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" [formControl]="dataForm.controls['firstname']">
                <span class="has-error" *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid">First Name is Required !</span>
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" [formControl]="dataForm.controls['lastname']">
                <span class="has-error" *ngIf ="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid">Last Name is Required !</span>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" [formControl]="dataForm.controls['email']">
                <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>
                <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" [formControl]="dataForm.controls['password']">
                <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Invalid Password.</span>
                <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid && getpassword('invalid')==true">Password must contain at least 8 characters,one lower case character , one upper case character , one number, one special character</span>
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
                <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
                <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
                  <strong>Passwords must match</strong>
                </div>
              </div>

              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" placeholder="Company Name" [formControl]="dataForm.controls['companyname']">
                <span class="has-error" *ngIf ="dataForm.controls['companyname'].touched && !dataForm.controls['companyname'].valid">Company Name is Required !</span>
              </div>

              <div class="form-group">
                <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" [formControl]="dataForm.controls['country']">
                  <span class="has-error" *ngIf ="dataForm.controls['country'].touched && !dataForm.controls['country'].valid" >Country field can not be blank!</span>
              </div>

              <div class="form-group">
                <label>Company Website</label>
                  <input type="text" class="form-control" placeholder="Company Website" [formControl]="dataForm.controls['companywebsite']">
                  <span class="has-error" *ngIf ="dataForm.controls['companywebsite'].touched && !dataForm.controls['companywebsite'].valid" >Company Website field can not be blank!</span>
                </div>

              <div class="form-group">
                <label>City</label>
                  <input type="text" class="form-control" placeholder="City" [formControl]="dataForm.controls['city']">
                  <span class="has-error" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid">City can not be blank!</span>
                </div>





              <div class="form-group">
                <label>Request</label>
                <input type="text" class="form-control hide" [formControl]="dataForm.controls['request']">
                <span class="buttonlists">
                  <button type="button" class="btnblueround"  [ngClass]="reqval ==1 ? 'active' : ''" (click)="addreqval(1)">User Acquisition</button>
                  <button type="button" class="btnblueround"  [ngClass]="reqval ==2 ? 'active' : ''" (click)="addreqval(2)">Monetization</button>
                </span>
              </div>


              <div class="form-group">
                <label>App</label>
                <input type="text" class="form-control" placeholder="Your app" [formControl]="dataForm.controls['app']">
                <span class="has-error" *ngIf ="dataForm.controls['app'].touched && !dataForm.controls['app'].valid" >This field can not be blank!</span>
              </div>

              <div class="form-group">
                <label>Your marketing budget</label>
                <input type="text" class="form-control hide" [formControl]="dataForm.controls['marketingbudget']">
                  <span class="outlinebuttonlists">
                    <button type="button" class="btnoulineround"  [ngClass]="marketingbudgetval ==1 ? 'active' : ''" (click)="addval(1)">$30-50k</button>
                    <button type="button" class="btnoulineround" [ngClass]="marketingbudgetval ==2 ? 'active' : ''" (click)="addval(2)">$50-100k</button>
                    <button type="button" class="btnoulineround" [ngClass]="marketingbudgetval ==3 ? 'active' : ''" (click)="addval(3)">$100-250k</button>
                    <button type="button" class="btnoulineround"  [ngClass]="marketingbudgetval ==4 ? 'active' : ''" (click)="addval(4)">$250-500k</button>
                    <button type="button" class="btnoulineround"  [ngClass]="marketingbudgetval ==5 ? 'active' : ''" (click)="addval(5)">$500k-1m</button>
                  </span>
                  <span *ngIf ="dataForm.controls['marketingbudget'].touched && !dataForm.controls['marketingbudget'].valid" class="has-error">This field can not be blank!</span>
                </div>
              <div class="leavemsgblock signup">
                <h2>Leave your message here</h2>
                <div class="form-group">
                  <div class="col-xs-12 txtfield">
              <span class="buttonlists">
                <button type="button" class="btnblueround"  [ngClass]="msgnoval ==1 ? 'active' : ''" (click)="messagenoval(1)">User Acquisition</button>
                <button type="button" class="btnblueround" [ngClass]="msgnoval ==2 ? 'active' : ''"  (click)="messagenoval(2)">Monetization</button>
              </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 txtfield">
                    <textarea class="form-control" rows="5" id="message" placeholder="Message" [formControl]="dataForm.controls['message']"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Add Employee</label>
                <select [formControl]="dataForm.controls['helpdeskid']">
                  <option value="">Select Employee</option>
                  <option *ngFor="let item of helpdesklist" value="{{item._id}}">{{item.firstname}} {{item.lastname}} ({{item.email}})</option>
                </select>
                <span *ngIf ="helpdeskerr" class="has-error">{{helpdeskerr}}</span>
              </div>
              <div class="clearfix"></div>
              <div class="form-group btnformdivcls">
                <input type="submit" value="Save" class="btnblue">
                <input type="button" value="Cancel" class="btnbluedeep" (click)="cancelit()">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!------End Body SECTION--->

<!------Footer SECTION--->
<app-footernew></app-footernew>
<!------End Footer SECTION--->